
@page "/xtc/startkit/healthy"

<Space Direction="DirectionVHType.Vertical">
    <SpaceItem>
        <Button Type="@ButtonType.Primary" OnClick="@__debugClick">Call</Button>
    </SpaceItem>

    <SpaceItem>
        <Text>Echo:</Text>
        <TextArea @bind-Value="@__debugEcho" Rows="4" ReadOnly="true" />
    </SpaceItem>

</Space>
@code {
}
